@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, yellow, red);
}

*, *::after, *::before {
    box-sizing: inherit;
}

.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;
    min-width: 20rem;
    height: 40rem;
    border: 3px solid #000000;
    background-color: #ebebeb;
    margin: 10rem auto;
    border-radius: 5px;
}

.block {
    height: 33%;
}

#location {
    font-weight: 700;
    font-size: 3rem;
}

#temperature {
    font-size: 2.5rem;
}

#disclaimer {
    font-weight: 300;
    font-size: 2rem;
    text-transform: capitalize;
    color: #00b3ff;
}